* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

.container {
    max-width: 1080px;
    margin: 15px auto;
    padding: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.gallery-img {
    border: 1px solid grey;
    cursor: pointer;
}

.gallery-img img {
    display: none !important;
}

.display-none {
    display: none;
}

.gallery-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #30303096;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-frame {
    background-color: #303030;
    padding: 5px;
    position: relative;
    width: 50%;
}

.img-frame img {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.517);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    /* transform: translateY(-50%) */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.next {
    right: 20px;
    background-image: url(next.png);
}

.prev {
    left: 20px;
    background-image: url(prev.png);
}

.close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.517);
    background-image: url(cross.png);
    background-size: 40px;
    background-position: center;
    border-radius: 40px;
    cursor: pointer;
}

#img-counter {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.517);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    border-radius: 10px;
}